.form {
  display: flex;
  gap: 8px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: var(--00838-f, #00838F);
}