.table {
  margin-top: 24px;
  padding-left: 32px;
  height: calc(100vh - 104px);
  padding-bottom: 80px;
  width: 100%;
  box-sizing: border-box;
}

.header {
  margin-bottom: 24px;
  font-family: var(--font-family), sans-serif;
  font-size: var(--main-title-size, 48px);
  font-weight: 400;
  letter-spacing: 0.17px;
}

.outlet {
  width: 100%;
  height: 100%;
  background: var(--f-2-f-2-f-2, #F2F2F2);
}