@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  /* base */
  --font-family: 'Roboto', sans-serif;
  --content-width: 1125px;
  --container-offset: 0px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  /* colors */
  --accent-color: #4149df;
  --light-color: #fff;
  --text-color: #d9d7d7;
  --dark-color: #121212;

  /* sizes */
  --main-font-size: 16px;
  --second-font-size: 14px;
  --third-font-size: 18px;
  --title-font-size: 24px;
  --main-title-size: 48px;
}

* {
  margin: 0;
  padding: 0;
}

:focus-visible {
  outline: 2px dotted var(--primary-color);
  outline-offset: 3px;
}

input {
  &:focus {
    outline: none;
  }
}

html {
  height: 100%;
  scrollbar-color: var(--primary-color) #fff;
  scrollbar-gutter: stable;
  scrollbar-width: thin;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  overflow-x: hidden;
  height: 100%;
  min-width: 360px;
  font-family: var(--font-family), sans-serif;
  font-size: var(--main-font-size, 14px);
}

.darkMode {
  z-index: 0;
  color: var(--text-color);
  background-color: var(--dark-color);
}

.lightMode {
  z-index: 0;
  color: var(--dark-color);
  background: var(--light-color);
}

main {
  flex: 1 1 auto;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.h1 {
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.17px;
}

.loader {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}
